@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #24b94e;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #6ac83b59;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container ul{
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    margin-top: 0;
    color: #ffffff;
}

.options-container {
    margin-bottom: 20px;
}

#new-option {
    width: 70%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(50, 152, 152);
}

#add-option {
    width: 28%;
    padding: 10px;
    font-size: 18px;
    background-color: #035fa1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    

}

#add-option:hover {
    background-color: #3e7b8e;
}

#options-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(7, 4, 176);
    font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}

#options-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#options-list li:last-child {
    border-bottom: none;
}

#pick {
    background-color: #1474cd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

#pick:hover {
    background-color: #00b4b7;
}

#result {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 20px;
    color: #fff;
}

#reset{
    font-family: "Bona Nova SC", serif;
    font-weight: 1000;
    font-style: normal;
    border:none;
    color: #fff;
    background-color: brown;
    align-items: center;
    display: flex;
}